<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <h1>hello world!</h1>
  <h2>Welcome to the home page</h2>
  <p>Login</p>
  <form action="/users/login" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Login</button>
  </form>
  <p>Click the link below to sign up</p>
  <a href="/users/sign-up">Sign Up</a>
</body>
</html>

