<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>

  <!-- Search Form -->
  <form action="/" method="GET">
    <input type="text" name="search" placeholder="Search usernames" value="<%= typeof search !== 'undefined' ? search : '' %>">
    <button type="submit">Search</button>
  </form>

  <ul>
    <% if (users && users.length > 0) { %>
      <% users.forEach(user => { %>
        <li><%= user.username %></li>
      <% }); %>
    <% } else { %>
      <li>No usernames found.</li>
    <% } %>
  </ul>
  <a href="/new">Create a new username</a>
  <br>
  <a href="/delete" style="color: red;">Delete all usernames</a>
</body>
</html>
