<form action="/search" method="GET">
  <label for="query">Search by Name or Email:</label>
  <input type="text" name="query" id="query" placeholder="Enter name or email">
  <button type="submit">Search</button>
</form>